
// FONT 
$allura: 'Allura', cursive;
$lato: 'Lato', sans-serif;
$poppins: 'Poppins', sans-serif;

// COLOR 
$abt_bg: #f7f7fa;
$btn_layer: #ffbf00;
$white: rgb(245, 245, 245);
$black: rgb(16, 16, 16);

// Border
$border: 1px solid red;