@import "./core/reset";
@import "./core/typography";
@import "./abstracts/variables";
@import "./components/buttons";
@import "./components/ellipse";
@import "./components/cards";
@import "./components/box";
@import "./components/nav_button";
@import "./vendors/n_col";
@import "./mixins/responsive";
@import "./mixins/font_mix";
@import "./layouts/container";
@import "./pages/banner";
@import "./pages/navbar";
@import "./pages/about";




body{
    background-color: skyblue;
    height: 100%;
}
.page_body{
 
}

