<header id="header_id">
    <div class="container">
        <!-- HIDDEN NAVBAR  -->

        <div id="nav_box" class="">
            <ul class="nav_list">

                <a id="nav_close_mark" class="" href="#"><i onclick="nav_box.classList.remove('active_nav')"
                        class="fa-solid fa-xmark"></i></a>


                <li><a href="#">product</a></li>
                <li><a href="#">solutions</a></li>
                <li><a href="#">support</a></li>
                <li><a href="#">sign in</a></li>


            </ul>
        </div>
        <div class="brand_name">
            <h2>carft lance</h2>
        </div>
        <div class="quick_menu">
            <ul>
                <li><a href="#">Products</a></li>
                <li><a href="#">Solutions</a></li>
                <li><a href="#">Support</a></li>
                <li><a class="button" href="#">Sign in</a></li>
            </ul>
        </div>
        <!-- HIDDEN NAV ICON  -->
        <div class="nav_icon">
            <a href="#"><i onclick="nav_box.classList.add('active_nav')" class="fa-solid fa-bars"></i></a>
        </div>
    </div>
</header>