// @import '../abstracts/variables';
// @import '../mixins/common_mix';
// @import '../mixins/responsive';

#product_box_id{

    .container{
        text-align: center;
        padding: 75px 0px;
        @include custom_responsive(0px, 767.9px){
            padding: 40px 0px;
        }
        .product_div{

            .heading{

                h2{
                    @include d-font($fs:95px,$lh:30px,$cl:$black,$ff:$allura,$tt:capitalize);
                    
                    @include lg(){
                        font-size: 80px;
                        line-height: 30px;
                    }
                    @include md(){
                        font-size: 60px;
                        line-height: 30px;
                        
                    }
                    @include custom_responsive(0px, 767.9px){
                        font-size: 50px;
                        line-height: 45px;
                        
                    }                    
                                                        
                }
                img{
                    margin: 40px 0px 30px 0px;
                    @include custom_responsive(0px,575.9px){
                        width: 150px;
                        margin-top: 20px;
                    }

                }
            }
            .product_list{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 70px;
                .single_product{
                    
                    .image{

                        img{

                        }
                    }
                    .bottom{
                        display: flex;
                        gap: 15px;
                        align-items: center;
                        color: $black;
                        margin-top: 10px;
                        p{
                            @include d-font($fs:20px,$lh:23px,$cl:$black,$ff:$lato,$tt:uppercase);
                        }
                        i{
                            color: rgba(0, 0, 0, 0.514);
                        }
                    }
                }
            }
        }
    }
}